header{
  width: auto;
  background:rgb(234, 98, 74);
  padding:20px 10px;
  height: 15%;
}
body{
  font-family: 'Nunito', sans-serif;
  width: auto;
}
.title{
  font-size: 60px;
  color: white;
  text-align: center;
  font-weight: bold;

}
main{
  background: rgb(235, 177, 165);
  height: 475px;
}
.conditions{
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px;
  padding: 10px 10px;
}
.conditions li:before{
  content: "•";
}
.encryptor{
  width:700px;
  margin:auto;
  padding: 50px;
}
.encryptor li{
  display:inline-block;
  text-align: center;
  vertical-align:top;
  margin: 0 1%;
  padding: 10px 10px;
  
}
.textArea{
  font-size: 15px;
  display: block;

}

.button{
  font-size: 20px;
  font-weight: bold;
  background:rgb(234, 98, 74);
  border-radius: 15px;
  margin-top: 10px;
}
footer{
  background: rgb(67, 43, 59);
  height: 5%;
  font-size: 12px;
  text-align: center;
  padding: 40px;
}
.copyright{
  color: rgb(234, 98, 74);
}
@media screen and (max-width:480px) {
  header{
    width: auto;
  }
  main{
    height: 670px;
  }
  .title{
    padding: 20px 20px;
  }
  body{
    width: auto;
    height: 940px;
  }
  footer{
    width: auto;
    height: 1%;
  }
  .conditions{
    padding: 20px 20px;
    margin-left: 10px;
  }
  .encryptor{
    margin: 0 20px;
    width: 300px;
    padding: 10px 10px;

  }
  .encryptor li{
    padding: 10px 10px;
  }
  .encryptor button{
    display: inline;
    margin: 5px 5px;
  }
 
}