@media (max-width: 981px) {
    .headerPrincipal--title{
        font-size: 45px;
        padding: 20px 0;
        transition: 4s;
      }
    .headerPrincipal--parraf{
        font-size: 10px;
        transition: 4s;
      }
    main .container{
        flex-direction: column ;
      }
      .textArea{
        height:150px;
        transition: 4s;
      }
      button {
        font-size: 5px;
      }
      .footer-copyright{
        font-size: 10px;
        transition: 4s;
      }
      
}